html, body {
  width: 100vw;
}

.app {
  display: block;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.score {
  font-size: 300%;
  margin: 2em auto 0.8em;
  display: inline-block;
}

button {
  display: inline-block;
}